.button-icon {
    width: 30px;
    height: 30px;
    @include background-transparent;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.button-primary {
    height: 50px;
    max-width: 228px;
    border: none;
    border-radius: $corner-radius;
    background-color: $color-secondary-dark-version;
    color: $color-primary-light-version;
}