.card-container {
    columns: 4;
    column-gap: $gap;
    max-width: 100%;

    .grid-card {
        @include card;
        break-inside: avoid;
        overflow: hidden;
        margin-bottom: $gap;
        position: relative;
        min-height: $size-header;

        .data-content {
            width: 100%;
            padding: $gap;
            img {
                max-width: 100%;
                height: auto;
                display: block;
                margin: 0 auto;
            }

            p {
                width: 100%;
                word-break: break-all;
            }

            a {
                width: 100%;
                word-break: break-all;
            }

        }

        .card-content {
            display:none;

            .card-buttons{
                display: flex;
                gap: $gap;
            }
        }

        &:hover {
            .card-content {
                display: block;
            }

        }
    }
}



