.card-container {
    columns: 4;
    column-gap: $gap;

    .card {
        margin-bottom: $gap;
        break-inside: avoid;
        @include card;

        @include position-bottom-left;

        .card-content {
            @include position-bottom-left;
            gap: $gap;
            padding-bottom: $spacing-s;
            transition: transform 0.3s ease;
            /* Transition for smooth sliding effect */
        }

        .slide-button {
            opacity: 0;
            /* Initially hide the button */
            transition: opacity 0.3s ease;
            /* Transition for smooth opacity change */
        }

        &:hover {
            .card-content {
                transform: translateX(-$spacing-s);
                /* Slide content to the left on hover */
            }

            .slide-button {
                opacity: 1;
                /* Show the button on hover */
            }
        }
    }
}