header {
    height: $size-header;
    position: sticky;
    z-index: 1001;
    top: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $color-primary-dark-version;

    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
            display: flex;
            gap: $gap;
            justify-content: flex-end;
        }
    }
}