// .modal {
//   display: none;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.9);
//   z-index: 9999;

//   .modal-content {

//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     background-color: $color-primary-light-version;
//     padding: 20px;
//     max-height: calc(100% - 40px);
//     max-width: 90%;
//     max-height: 90%;
//     border-radius: 10px;

//     .modal-header {
//       display: flex;
//       justify-content: flex-end;

//     }

//     .modal-body {
//       display: flex;
//       flex-wrap: wrap;

//       img {
//         max-width: 100%;
//     max-height: 100%;
//     width: auto;
//     height: auto;
//     margin: auto;
//       }
//     }
//   }
// }

// .close {
//   cursor: pointer;
//   padding: $spacing-xs;
// }

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-primary-light-version;
  padding: 20px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto; /* Enable scrolling if content exceeds modal size */
  border-radius: 10px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
}

.modal-body img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin: auto;
}


.close {
  cursor: pointer;
  padding: $spacing-xs;
}
