.form {
    padding-top: $spacing-l 0px;
}

.formfield {
    @include formfield;
}


//Search bar

.search-bar {
    @include slide-bar;
    display: none;
    overflow: hidden;

    .search-bar-container {
        @include container-slide-bar;

        .content-search-bar {
            padding: $spacing-l 0px;
        }
    }
}

.search-bar.active {
    display: block;
}

//add bar
.add-bar {
    @include slide-bar;
    display: none;
    overflow: hidden;

    .add-bar-container {
        @include container-slide-bar;

        .content-add-bar {
            padding: $spacing-l 0px;

            .message-field {
                display: flex;
                justify-content: center;
                align-items: flex-end;
            }
            .add-data {
                display: flex;
                justify-content: center;
                gap: $gap;
                padding-top: $spacing-r;
            }
        }
    }
}

.add-bar.active {
    display: block;
}