@mixin slide-bar {
    @include card;
    border-radius: 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-top: $size-header; 
}

// Search bar
.search-bar {
    @include slide-bar;
    display: none;
    overflow: hidden;

    .container-search-bar {
        display: flex;
        justify-content: center;

        .content-search-bar {
            max-width: 648px;
            padding: $spacing-l 0px;

            .search-field {
                display: flex;
            }
        }
    }
}
.search-bar.active {
    display: block;
}

// add bar
.add-bar {
    @include slide-bar;
    display: none;
    overflow: hidden;

    .container-add-bar {
        display: flex;
        justify-content: center;

        .content-add-bar {
            max-width: 648px;
            padding: $spacing-l 0px;

            .add-data {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                gap: $gap;
            }
        }
    }
}
.add-bar.active {
    display: block;
}