//Theme colors

$color-primary-dark-version: #333333;
$color-primary-light-version: #ffffff;
$color-secondary-dark-version: #def599;
$color-secondary-light-version: #def599;
$color-tertiary-dark-version: #48a7ca;
$color-tertiary-light-version: #a1e6ff;

$color-outline-dark-version: #333333;
$color-outline-light-version: #cccccc;

$color-dark: #000000;
$color-light: #ffffff;
