// corner radius
$corner-radius: 10px;

//box-shadow
$card-shadow: 0px 4px 100px rgba(201, 201, 201, 0.5);

@mixin background-transparent {
    border: none;
    background-color: transparent;
}

@mixin position-bottom-left {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@mixin card{
    width: 100%;
    background-color: $color-light;
    box-shadow: $card-shadow;
    border-radius: $corner-radius;
}

@mixin background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@mixin formfield {
    max-width: 648px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $color-secondary-dark-version;
    outline: none;
}

@mixin slide-bar {
    @include card;
    border-radius: 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-top: $size-header; 
}

@mixin container-slide-bar {
    display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
}



