// Import
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Sacramento&display=swap');

// Font-Family
$font-family-primary: 'Nunito', sans-serif;
$font-family-secondary:'';
$font-family-tertiary: 'Sacramento', cursive;

//Font-size
$font-size-1: 12px;
$font-size-2: 14px;
$font-size-3: 16px;
$font-size-4: 20px;
$font-size-5: 24px;
$font-size-6: 30px;
$font-size-7: 56px;

//font-weight
$font-light: 200;
$font-regular: 400;
$font-medium: 600;
$font-bold: 700;
$font-black: 900;

//font-description
h1 {
    font-family: $font-family-tertiary;
    font-size: $font-size-5;
}

h2 {
    font-size: $font-size-5;
    span {
        font-size: $font-size-5;
    }
}

.emphasize {
    font-weight: $font-black;
}


