.first-time-display-card {
    height: calc(100vh - $size-header);
    @include form-pages;

    .card-display {
        @include card-display;

        .content-card-display {
            @include content-card-display;
            text-align: center;

            h2 {
                font-family: $font-family-tertiary;
                font-size: $font-size-7;
            }
        }
    }
}


