main {
    .greeting {
        text-align: center;
        padding: $spacing-m 0 $spacing-m 0;
    }

    @media (max-width: 768px) {
        .card-container {
            width: 100%;
            columns: 3;
        }
    }

    @media (max-width: 480px) {
        .card-container {
            width: 100%;
            columns: 1;
        }
    }
}